<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Administrator\Desktop\Iteration3Final.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/SmartChart</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\Administrator\Desktop\budget_tool\budget_tool\deliverables\iteration3\Iteration3Final\Iteration3Final\App_Data\aspnet-Iteration1Working-20160211011555.mdf;Initial Catalog=aspnet-Iteration1Working-20160211011555;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Iteration1Working.Models.ApplicationDbContext, Iteration1Working" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartChartEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=SmartChart;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=localhost;Initial Catalog=SmartChart;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Iteration1Working.Models.SmartChartEntities, Iteration1Working" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\Administrator\Desktop\budget_tool\budget_tool\deliverables\iteration3\Iteration3Final\Iteration3Final\App_Data\aspnet-Iteration1Working-20160211011555.mdf;Initial Catalog=aspnet-Iteration1Working-20160211011555;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartChartEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Category.csdl|res://*/Models.Category.ssdl|res://*/Models.Category.msl;provider=System.Data.SqlClient;provider connection string="Data Source=localhost;Initial Catalog=SmartChart;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>