<?xml version="1.0"?>
<configuration>

  <system.web>
    <authentication mode="Forms" >
      <forms loginUrl="~\Account\Login.aspx" name=".ASPXAUTH" protection="None" path="/" timeout="20" >
      </forms>
    </authentication>
    <!-- This section denies access to all files in this application except for those that you have not explicitly specified by using another setting. -->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <!-- This section gives the unauthenticated user access to the Default1.aspx page only. It is located in the same folder as this configuration file. -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the authenticated user access to all of the files that are stored in the Members folder.  -->
  <location path="~\Members">
    <system.web>
      <authorization>
        <allow users ="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
